---
import Plain from '../layouts/Plain.astro';
import Card from "../components/Card.astro";
import { servicePriceFormatted } from '../lib/helpers';
const services = await Astro.glob("../pages/wordpress-services/*.md");
const order = [
    'wp-maintenance',
    'wp-console',
    'wp-accessibility',
    'wp-pagespeed',
    'wp-insights',
    'wp-updates',
]
---
<Plain>
    <div class="wrapper">
        <div class="text-center mx-auto max-w-xl my-20">
            <h1 class="title">WordPress Services</h1>
            <p class="text-lead">If you're a business using WordPress, your primary focus should still be your business. Ours is WordPress. Here's how we can service your WordPress website.</p>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-12">
            {services
            .filter(i => order.includes(i.frontmatter.sku))
            .sort((a, b) =>  order.indexOf(a.frontmatter.sku) > order.indexOf(b.frontmatter.sku) ? 1 : -1 )
            .map( ({url, frontmatter}) => 
                <Card title={frontmatter.title} href={url}>
                    <img slot="image" class="h-52" height="208" width="309" src={`/assets/svgs/services/${frontmatter.sku}.svg`} />
                    <p class="text-sm text-slate-700 mb-6">{ frontmatter.description }</p>
                    { frontmatter.price &&
                    <div class="mt-auto text-lg font-heading my-6">
                        { servicePriceFormatted(frontmatter.price, frontmatter.term) }
                    </div>
                    }
                </Card>
            )}
        </div>
    </div>
</Plain>
