<aside class="bg-brand-dark text-white py-32 relative">
    <div class="wrapper flex flex-col lg:flex-row justify-between items-start lg:items-center relative z-10 gap-8">
        <div class="max-w-2xl">
            <h1 class="text-h2 font-heading font-extrabold">Free WordPress Audit</h1>
            <p class="text-lead font-light">Receive a detailed audit of your WordPress site at no charge from our industry experts. There's no obligation and the knowledge you gain can save you thousands of dollars.</p>
        </div>
        <div>
            <a href="/wordpress-audit" class="bg-brand-action inline-block text-white rounded-full px-8 py-4 tracking-wide uppercase font-heading font-bold ring-2 ring-white shadow-lg">Take the Audit Quiz</a>
        </div>
    </div>
    <img src="/online-wordpress-audit-quiz.webp" class="absolute top-0 right-0 h-full w-auto mix-blend-multiply z-0"/>
</aside>