---
---
<button {...Astro.props} class="uppercase" data-tf-slider="tJLh4QMf" data-tf-width="550" data-tf-iframe-props="title=WordPress Audit Quiz" data-tf-medium="snippet">
    <slot></slot>
</button>
