---
const stats = [
    {
        unit: 'YRS',
        scalar: 25,
        description: 'in Business'
    },
    {
        unit: '+',
        scalar: 200,
        description: 'Maintained WordPress Installations'
    },
    {
        unit: 'M',
        scalar: 1,
        description: 'Hosted WordPress Visitors per month'
    },
    {
        unit: '%',
        scalar: 100,
        description: 'Canadian Developers at Your Service'
    },
];
---
<div class="text-center px-12 py-20">
    <div class="wrapper">
        <h1 class="sr-only">Motto WordPress Statistics</h1>
        <div class="flex flex-col md:flex-row gap-8 justify-center items-center flex-wrap">
            {stats.map(stat => 
            <div class="w-60">
                <h2 class="text-brand-dark font-heading text-h1">{stat.scalar}<strong class="text-brand-action">{stat.unit}</strong></h2>
                <p class="text-lead">{stat.description}</p>
            </div>
            )}
        </div>
    </div>
</div>