---
import QuizButton from "atoms:QuizButton";
import { t } from "i18next";
---
<aside class="bg-brand-dark text-white py-32 relative">
    <div class="wrapper flex flex-col lg:flex-row justify-between items-start lg:items-center relative z-10 gap-8">
        <div class="max-w-2xl">
            <h1 class="text-h2 font-heading font-extrabold">{t("audit.title")}</h1>
            <p class="text-lead font-light">{t("audit.description")}</p>
        </div>
        <div>
            <QuizButton class="bg-brand-action inline-block text-white rounded-full px-8 py-4 tracking-wide uppercase font-heading font-bold ring-2 ring-white shadow-lg">
                {t("audit.button_text")}
            </QuizButton>
        </div>
    </div>
    <img loading="lazy" alt="Online quiz" src="/online-wordpress-audit-quiz.webp" class="absolute top-0 right-0 h-full w-auto mix-blend-multiply z-0"/>
</aside>