---
import Plain from "./Plain.astro";

export interface Props {
	content: {
		title: string;
		description: string;
		image?: {
			src: string;
			alt: string;
		};
	}
}

const { content: { image, title, description } } = Astro.props as Props;
---
<Plain>
	<article class="wrapper content">
		<header class="text-center">
			<h1 class="text-h1 font-heading font-bold">{title}</h1>
			{image && (
				<img
					width="720"
					height="420"
					loading="lazy"
					src={image.src}
					alt={image.alt}
				/>
			)}
		</header>
		<main class="mt-12 prose mx-auto">
			<slot></slot>
		</main>
	</article>
</Plain>