---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import i18next from "i18next";

const url = new URL(Astro.url.pathname, 'https://motto.ca'); //Astro.site
const wpMetaRequest = await fetch(`${url.origin}/wp-json/rankmath/v1/getHead?url=${url.href}`);
const meta = await wpMetaRequest.json();
---
<html lang={i18next.language} class="scroll-smooth">
	<head set:html={meta.head}>
		<BaseHead />
	</head>

	<body>
		<Header />
		<slot></slot>
		<Footer />
	</body>
</html>
