---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---
<html class="scroll-smooth">
	<head>
		<BaseHead />
	</head>

	<body>
		<Header />
		<slot></slot>
		<Footer />
	</body>
</html>
