---
import BaseHead from "@/BaseHead.astro";
import Header from "layouts:Header";
import Footer from "layouts:Footer";
import i18next from "i18next";

const url = new URL(Astro.url.pathname, 'https://motto.ca'); //Astro.site
const wpMetaRequest = await fetch(`https://motto.ca/wp-json/rankmath/v1/getHead?url=${url.href}`);
const meta = await wpMetaRequest.json();
---
<html lang={i18next.language} class="scroll-smooth">
	<head set:html={meta.head}>
		<BaseHead />
	</head>

	<body>
		<Header />
		<slot></slot>
		<Footer />
	</body>
</html>
